.footer {
    padding: 124px 0 37px;
}

.footer__inner {
    display: flex;
    flex-direction: column;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    margin-bottom: 124px;
}

.footer__top-text {
    max-width: 656px;

    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer__top-img {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.footer__top-img img {
    width: 100%;
    height: 100%;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__item {}

.footer__link {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    justify-content: center;
    padding: 15px 95px;

    border-radius: 100px;
    border: 3px solid #00A8E8;
    font-size: 41px;
    font-weight: 500;
    letter-spacing: 1px;

    transition: all .3s ease;
}

.footer__link:hover {
    color: var(--general-text);
    background: var(--accent-color);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__bottom-text {
    max-width: 656px;

    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}