@import 'fonts.css';
@import 'reset.css';
@import 'global.css';

@import 'header.css';
@import 'footer.css';


/* Hero */


.hero {
    padding: 137px 0 255.97px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__logo {
    display: flex;
    gap: 46px;
    margin-bottom: 49px;
}

.hero__logo img {
    width: 100%;
}

.hero__logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Arial;
    font-size: 70.755px;
    text-transform: uppercase;
}

.hero__logo-text span {
    color: #00A8E8;
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 53px;
    gap: 15px;
    width: 100%;

    white-space: nowrap;
    font-size: 41px;
    font-weight: 500;
    letter-spacing: -0.302px;
    background-color: var(--accent-color);
    border-radius: 89px;

    transition: background .3s ease-in;
}

.hero__button:hover {
    background: #0085D8;
}


/* Benefits */


.benefits {
    padding: 179px 0 373px;
}

.benefits__inner {}

.benefits__title {
    margin-bottom: 80px;

    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.384px;
}

.benefits__title span {
    color: var(--accent-color);
}

.benefits__text {
    max-width: 1042px;
    font-family: Montserrat;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.384px;
}

.benefits__text span {
    color: var(--accent-color);
    font-weight: 600;
    letter-spacing: 1px;
}


/* Manual */


.manual {
    padding: 158px 0 209.55px;
    background: var(--accent-color);
}

.manual__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manual__title {
    align-self: start;
    margin-bottom: 80px;

    font-size: 80px;
    font-weight: 600;
    letter-spacing: -0.384px;
}

.manual__img {
    margin-bottom: 134px;
    max-width: 1530px;
}

.manual__img img {
    width: 100%;
}

.manual__title--second {
    align-self: center;
    letter-spacing: 1px;
}

.manual__buttons {}

.manual__buttons-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.manual__buttons-item {}

.manual__buttons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 95px;

    background: var(--general-text);
    border-radius: 100px;
    color: #141414;
    font-size: 41px;
    font-weight: 500;
    letter-spacing: -0.384px;

    transition: all .3s ease;
}

.manual__buttons-link--disable {
    color: var(--general-text);
    background: #0076A3;
    cursor: default;
}



.manual__buttons-link.manual__buttons-link--disable {
    position: relative;
}

.manual__buttons-link[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.manual__buttons-link[data-tooltip]:hover::after {
    opacity: 1;
}

.manual__buttons-link:hover {
    color: var(--general-text);
    background: #121212;
}

.manual__buttons-link--disable:hover {
    background: #005577;
}


/* Questions */


.questions {
    padding: 131px 0;
    background: var(--general-text);
    color: var(--general-bg);
}

.questions__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions__title {
    align-self: start;
    margin-bottom: 80px;

    font-size: 80px;
    font-weight: 600;
    letter-spacing: -0.384px;
}

.questions__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.questions__item {
    width: 100%;
    font-size: 25.322px;
    font-weight: 500;
    letter-spacing: -0.324px;
}

.questions__item-img-wrapper {
    position: relative;
    display: inline-block;
    max-width: 992px;
}

.questions__item-img {
    width: 100%;
    height: 100%;
}

.questions__item-text {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 28%;
    left: 45px;
}

.questions__item--user {
    margin-bottom: 30px;

    color: var(--general-text);
}

.questions__item--user .questions__item-name {
    margin-right: 109px;
}

.questions__item--manager {
    margin-bottom: 50px;

    color: #323232;
}

.questions__item--manager .questions__item-name {
    margin-right: 34px;
}

.questions__item--manager:last-child {
    margin-bottom: 0;
}

.questions__item-name {}

.questions__item-text {}

